<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB15</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetSource</display-name>
    <servlet-name>GetSource</servlet-name>
    <servlet-class>request_source.GetSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSource</servlet-name>
    <url-pattern>/GetSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeader</display-name>
    <servlet-name>GetHeader</servlet-name>
    <servlet-class>Header.GetHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeader</servlet-name>
    <url-pattern>/GetHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetContent</display-name>
    <servlet-name>GetContent</servlet-name>
    <servlet-class>request_content.GetContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContent</servlet-name>
    <url-pattern>/GetContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forword1</display-name>
    <servlet-name>forword1</servlet-name>
    <servlet-class>forward.forword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forword1</servlet-name>
    <url-pattern>/forword1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forward2</display-name>
    <servlet-name>forward2</servlet-name>
    <servlet-class>forward.forward2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward2</servlet-name>
    <url-pattern>/forward2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>badlink</display-name>
    <servlet-name>badlink</servlet-name>
    <servlet-class>Badlink.badlink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>badlink</servlet-name>
    <url-pattern>/badlink</url-pattern>
  </servlet-mapping>
</web-app>