<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB23</display-name>
  <listener>
    <listener-class>com.kk.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.kk.listener.MySessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.kk.listener.MyRequestListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CleanSessionServlet</display-name>
    <servlet-name>CleanSessionServlet</servlet-name>
    <servlet-class>com.kk.servlet.CleanSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanSessionServlet</servlet-name>
    <url-pattern>/cleanSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRequestServlet</display-name>
    <servlet-name>TestRequestServlet</servlet-name>
    <servlet-class>com.kk.servlet.TestRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRequestServlet</servlet-name>
    <url-pattern>/testRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestAttributeContextServlet</display-name>
    <servlet-name>TestAttributeContextServlet</servlet-name>
    <servlet-class>com.kk.servlet.TestAttributeContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAttributeContextServlet</servlet-name>
    <url-pattern>/testAttributeContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoundNotServlet</display-name>
    <servlet-name>BoundNotServlet</servlet-name>
    <servlet-class>com.kk.servlet.BoundNotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoundNotServlet</servlet-name>
    <url-pattern>/boundNot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSessionServlet</display-name>
    <servlet-name>SetSessionServlet</servlet-name>
    <servlet-class>com.kk.servlet.SetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionServlet</servlet-name>
    <url-pattern>/setSession</url-pattern>
  </servlet-mapping>
</web-app>