<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB20</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.kk.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductAddServlet</display-name>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <servlet-class>com.kk.web.AdminProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <url-pattern>/adminProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAllProductUIServlet</display-name>
    <servlet-name>AdminAllProductUIServlet</servlet-name>
    <servlet-class>com.kk.web.AdminAllProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAllProductUIServlet</servlet-name>
    <url-pattern>/adminAllProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.kk.web.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>com.kk.web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAlterProductServlet</display-name>
    <servlet-name>AdminAlterProductServlet</servlet-name>
    <servlet-class>com.kk.web.AdminAlterProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAlterProductServlet</servlet-name>
    <url-pattern>/adminAlterProduct</url-pattern>
  </servlet-mapping>
</web-app>